In [1]:
from numpy import *
from numpy import linalg as la
#import svdRec
def loadExData():
    return
def ecludSim(inA,inB):
    return 1.0/(1.0 + la.norm(inA - inB))
def pearsSim(inA,inB):
    if len(inA) < 3 : return 1.0
    return 0.5+0.5*corrcoef(inA, inB, rowvar = 0)[0][1]

def cosSim(inA,inB):
    num = float(inA.T*inB)
    denom = la.norm(inA)*la.norm(inB)
    return 0.5+0.5*(num/denom)

data=[[0, 0, 0, 2, 2],
      [0, 0, 0, 3, 3],
      [0, 0, 0, 1, 1],
      [1, 1, 1, 0, 0],
      [2, 2, 2, 0, 0],
      [5, 5, 5, 0, 0],
      [1, 1, 1, 0, 0]]
myMat=mat(data)
print("cosine similarity")
print(cosSim(myMat[:,0],myMat[:,4]))
print(cosSim(myMat[:,0],myMat[:,0]))
print("Euler similarity")
print(ecludSim(myMat[:,0],myMat[:,4]))
print(ecludSim(myMat[:,0],myMat[:,0]))
print("pearson similarity")
print(pearsSim(myMat[:,0],myMat[:,4]))
print(pearsSim(myMat[:,0],myMat[:,0]))

cosine similarity
0.5
1.0
Euler similarity
0.12973190755680383
1.0
pearson similarity
0.20596538173840329
1.0

In [2]:
import pandas as pd
#读入数据集--u.data文件，查看用户/项目排名信息

heads = ['user_id', 'item_id', 'rating', 'timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=heads)
print(ratings)

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
5          298      474       4  884182806
6          115      265       2  881171488
7          253      465       5  891628467
8          305      451       3  886324817
9            6       86       3  883603013
10          62      257       2  879372434
11         286     1014       5  879781125
12         200      222       5  876042340
13         210       40       3  891035994
14         224       29       3  888104457
15         303      785       3  879485318
16         122      387       5  879270459
17         194      274       2  879539794
18         291     1042       4  874834944
19         234     1184       2  892079237
20         119      392       4  886176814
21         167      486       4  892738452
22         299      144       4  877881320
23         291      118       2  874833878
24         308        1       4  887736532
25          95      546       2  879196566
26          38       95       5  892430094
27         102      768       2  883748450
28          63      277       4  875747401
29         160      234       5  876861185
...        ...      ...     ...        ...
99970      449      120       1  879959573
99971      661      762       2  876037121
99972      721      874       3  877137447
99973      821      151       4  874792889
99974      764      596       3  876243046
99975      537      443       3  886031752
99976      618      628       2  891308019
99977      487      291       3  883445079
99978      113      975       5  875936424
99979      943      391       2  888640291
99980      864      685       4  888891900
99981      750      323       3  879445877
99982      279       64       1  875308510
99983      646      750       3  888528902
99984      654      370       2  887863914
99985      617      582       4  883789294
99986      913      690       3  880824288
99987      660      229       2  891406212
99988      421      498       4  892241344
99989      495     1091       4  888637503
99990      806      421       4  882388897
99991      676      538       4  892685437
99992      721      262       3  877137285
99993      913      209       2  881367150
99994      378       78       3  880056976
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [3]:
print("len of users:",len(ratings))

len of users: 100000

In [4]:
import pandas as pd
# 读入数据
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,encoding='latin-1')
print(users)

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')
print(ratings)

m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url'] 
movies = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, usecols=range(5),encoding='latin-1') 
print(movies)

     user_id  age sex     occupation zip_code
0          1   24   M     technician    85711
1          2   53   F          other    94043
2          3   23   M         writer    32067
3          4   24   M     technician    43537
4          5   33   F          other    15213
5          6   42   M      executive    98101
6          7   57   M  administrator    91344
7          8   36   M  administrator    05201
8          9   29   M        student    01002
9         10   53   M         lawyer    90703
10        11   39   F          other    30329
11        12   28   F          other    06405
12        13   47   M       educator    29206
13        14   45   M      scientist    55106
14        15   49   F       educator    97301
15        16   21   M  entertainment    10309
16        17   30   M     programmer    06355
17        18   35   F          other    37212
18        19   40   M      librarian    02138
19        20   42   F      homemaker    95660
20        21   26   M         writer    30068
21        22   25   M         writer    40206
22        23   30   F         artist    48197
23        24   21   F         artist    94533
24        25   39   M       engineer    55107
25        26   49   M       engineer    21044
26        27   40   F      librarian    30030
27        28   32   M         writer    55369
28        29   41   M     programmer    94043
29        30    7   M        student    55436
..       ...  ...  ..            ...      ...
913      914   44   F          other    08105
914      915   50   M  entertainment    60614
915      916   27   M       engineer    N2L5N
916      917   22   F        student    20006
917      918   40   M      scientist    70116
918      919   25   M          other    14216
919      920   30   F         artist    90008
920      921   20   F        student    98801
921      922   29   F  administrator    21114
922      923   21   M        student    E2E3R
923      924   29   M          other    11753
924      925   18   F       salesman    49036
925      926   49   M  entertainment    01701
926      927   23   M     programmer    55428
927      928   21   M        student    55408
928      929   44   M      scientist    53711
929      930   28   F      scientist    07310
930      931   60   M       educator    33556
931      932   58   M       educator    06437
932      933   28   M        student    48105
933      934   61   M       engineer    22902
934      935   42   M         doctor    66221
935      936   24   M          other    32789
936      937   48   M       educator    98072
937      938   38   F     technician    55038
938      939   26   F        student    33319
939      940   32   M  administrator    02215
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

[943 rows x 5 columns]
       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
5          298       474       4       884182806
6          115       265       2       881171488
7          253       465       5       891628467
8          305       451       3       886324817
9            6        86       3       883603013
10          62       257       2       879372434
11         286      1014       5       879781125
12         200       222       5       876042340
13         210        40       3       891035994
14         224        29       3       888104457
15         303       785       3       879485318
16         122       387       5       879270459
17         194       274       2       879539794
18         291      1042       4       874834944
19         234      1184       2       892079237
20         119       392       4       886176814
21         167       486       4       892738452
22         299       144       4       877881320
23         291       118       2       874833878
24         308         1       4       887736532
25          95       546       2       879196566
26          38        95       5       892430094
27         102       768       2       883748450
28          63       277       4       875747401
29         160       234       5       876861185
...        ...       ...     ...             ...
99970      449       120       1       879959573
99971      661       762       2       876037121
99972      721       874       3       877137447
99973      821       151       4       874792889
99974      764       596       3       876243046
99975      537       443       3       886031752
99976      618       628       2       891308019
99977      487       291       3       883445079
99978      113       975       5       875936424
99979      943       391       2       888640291
99980      864       685       4       888891900
99981      750       323       3       879445877
99982      279        64       1       875308510
99983      646       750       3       888528902
99984      654       370       2       887863914
99985      617       582       4       883789294
99986      913       690       3       880824288
99987      660       229       2       891406212
99988      421       498       4       892241344
99989      495      1091       4       888637503
99990      806       421       4       882388897
99991      676       538       4       892685437
99992      721       262       3       877137285
99993      913       209       2       881367150
99994      378        78       3       880056976
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]
      movie_id                                              title  \
0            1                                   Toy Story (1995)
1            2                                   GoldenEye (1995)
2            3                                  Four Rooms (1995)
3            4                                  Get Shorty (1995)
4            5                                     Copycat (1995)
5            6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6            7                              Twelve Monkeys (1995)
7            8                                        Babe (1995)
8            9                            Dead Man Walking (1995)
9           10                                 Richard III (1995)
10          11                               Seven (Se7en) (1995)
11          12                         Usual Suspects, The (1995)
12          13                            Mighty Aphrodite (1995)
13          14                                 Postino, Il (1994)
14          15                          Mr. Holland's Opus (1995)
15          16                 French Twist (Gazon maudit) (1995)
16          17                         From Dusk Till Dawn (1996)
17          18                          White Balloon, The (1995)
18          19                              Antonia's Line (1995)
19          20                          Angels and Insects (1995)
20          21                      Muppet Treasure Island (1996)
21          22                                  Braveheart (1995)
22          23                                 Taxi Driver (1976)
23          24                         Rumble in the Bronx (1995)
24          25                               Birdcage, The (1996)
25          26                      Brothers McMullen, The (1995)
26          27                                    Bad Boys (1995)
27          28                                   Apollo 13 (1995)
28          29                              Batman Forever (1995)
29          30                               Belle de jour (1967)
...        ...                                                ...
1652      1653  Entertaining Angels: The Dorothy Day Story (1996)
1653      1654                       Chairman of the Board (1998)
1654      1655                                  Favor, The (1994)
1655      1656                                 Little City (1998)
1656      1657                                      Target (1995)
1657      1658                      Substance of Fire, The (1996)
1658      1659                    Getting Away With Murder (1996)
1659      1660                                 Small Faces (1995)
1660      1661                                New Age, The (1994)
1661      1662                                 Rough Magic (1995)
1662      1663                            Nothing Personal (1995)
1663      1664                     8 Heads in a Duffel Bag (1997)
1664      1665                           Brother's Kiss, A (1997)
1665      1666                                        Ripe (1996)
1666      1667                              Next Step, The (1995)
1667      1668                          Wedding Bell Blues (1996)
1668      1669                           MURDER and murder (1996)
1669      1670                                     Tainted (1998)
1670      1671                          Further Gesture, A (1996)
1671      1672                                        Kika (1993)
1672      1673                                      Mirage (1995)
1673      1674                                  Mamma Roma (1962)
1674      1675                              Sunchaser, The (1996)
1675      1676                            War at Home, The (1996)
1676      1677                               Sweet Nothing (1995)
1677      1678                                  Mat' i syn (1997)
1678      1679                                   B. Monkey (1998)
1679      1680                               Sliding Doors (1998)
1680      1681                                You So Crazy (1994)
1681      1682          Scream of Stone (Schrei aus Stein) (1991)

     release_date  video_release_date  \
0     01-Jan-1995                 NaN
1     01-Jan-1995                 NaN
2     01-Jan-1995                 NaN
3     01-Jan-1995                 NaN
4     01-Jan-1995                 NaN
5     01-Jan-1995                 NaN
6     01-Jan-1995                 NaN
7     01-Jan-1995                 NaN
8     01-Jan-1995                 NaN
9     22-Jan-1996                 NaN
10    01-Jan-1995                 NaN
11    14-Aug-1995                 NaN
12    30-Oct-1995                 NaN
13    01-Jan-1994                 NaN
14    29-Jan-1996                 NaN
15    01-Jan-1995                 NaN
16    05-Feb-1996                 NaN
17    01-Jan-1995                 NaN
18    01-Jan-1995                 NaN
19    01-Jan-1995                 NaN
20    16-Feb-1996                 NaN
21    16-Feb-1996                 NaN
22    16-Feb-1996                 NaN
23    23-Feb-1996                 NaN
24    08-Mar-1996                 NaN
25    01-Jan-1995                 NaN
26    01-Jan-1995                 NaN
27    01-Jan-1995                 NaN
28    01-Jan-1995                 NaN
29    01-Jan-1967                 NaN
...           ...                 ...
1652  27-Sep-1996                 NaN
1653  01-Jan-1998                 NaN
1654  01-Jan-1994                 NaN
1655  20-Feb-1998                 NaN
1656  28-Feb-1996                 NaN
1657  06-Dec-1996                 NaN
1658  12-Apr-1996                 NaN
1659  09-Aug-1996                 NaN
1660  01-Jan-1994                 NaN
1661  30-May-1997                 NaN
1662  30-Apr-1997                 NaN
1663  18-Apr-1997                 NaN
1664  25-Apr-1997                 NaN
1665  02-May-1997                 NaN
1666  13-Jun-1997                 NaN
1667  13-Jun-1997                 NaN
1668  20-Jun-1997                 NaN
1669  01-Feb-1998                 NaN
1670  20-Feb-1998                 NaN
1671  01-Jan-1993                 NaN
1672  01-Jan-1995                 NaN
1673  01-Jan-1962                 NaN
1674  25-Oct-1996                 NaN
1675  01-Jan-1996                 NaN
1676  20-Sep-1996                 NaN
1677  06-Feb-1998                 NaN
1678  06-Feb-1998                 NaN
1679  01-Jan-1998                 NaN
1680  01-Jan-1994                 NaN
1681  08-Mar-1996                 NaN

                                               imdb_url
0     http://us.imdb.com/M/title-exact?Toy%20Story%2...
1     http://us.imdb.com/M/title-exact?GoldenEye%20(...
2     http://us.imdb.com/M/title-exact?Four%20Rooms%...
3     http://us.imdb.com/M/title-exact?Get%20Shorty%...
4     http://us.imdb.com/M/title-exact?Copycat%20(1995)
5     http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...
6     http://us.imdb.com/M/title-exact?Twelve%20Monk...
7        http://us.imdb.com/M/title-exact?Babe%20(1995)
8     http://us.imdb.com/M/title-exact?Dead%20Man%20...
9     http://us.imdb.com/M/title-exact?Richard%20III...
10      http://us.imdb.com/M/title-exact?Se7en%20(1995)
11    http://us.imdb.com/M/title-exact?Usual%20Suspe...
12    http://us.imdb.com/M/title-exact?Mighty%20Aphr...
13    http://us.imdb.com/M/title-exact?Postino,%20Il...
14    http://us.imdb.com/M/title-exact?Mr.%20Holland...
15    http://us.imdb.com/M/title-exact?Gazon%20maudi...
16    http://us.imdb.com/M/title-exact?From%20Dusk%2...
17    http://us.imdb.com/M/title-exact?Badkonake%20S...
18    http://us.imdb.com/M/title-exact?Antonia%20(1995)
19    http://us.imdb.com/M/title-exact?Angels%20and%...
20    http://us.imdb.com/M/title-exact?Muppet%20Trea...
21    http://us.imdb.com/M/title-exact?Braveheart%20...
22    http://us.imdb.com/M/title-exact?Taxi%20Driver...
23    http://us.imdb.com/M/title-exact?Hong%20Faan%2...
24    http://us.imdb.com/M/title-exact?Birdcage,%20T...
25    http://us.imdb.com/M/title-exact?Brothers%20Mc...
26    http://us.imdb.com/M/title-exact?Bad%20Boys%20...
27    http://us.imdb.com/M/title-exact?Apollo%2013%2...
28    http://us.imdb.com/M/title-exact?Batman%20Fore...
29    http://us.imdb.com/M/title-exact?Belle%20de%20...
...                                                 ...
1652  http://us.imdb.com/M/title-exact?Entertaining%...
1653  http://us.imdb.com/Title?Chairman+of+the+Board...
1654  http://us.imdb.com/M/title-exact?Favor,%20The%...
1655  http://us.imdb.com/M/title-exact?Little+City+(...
1656   http://us.imdb.com/M/title-exact?Target%20(1995)
1657  http://us.imdb.com/M/title-exact?Substance%20o...
1658  http://us.imdb.com/Title?Getting+Away+With+Mur...
1659  http://us.imdb.com/M/title-exact?Small%20Faces...
1660  http://us.imdb.com/M/title-exact?New%20Age,%20...
1661  http://us.imdb.com/M/title-exact?Rough%20Magic...
1662  http://us.imdb.com/M/title-exact?Nothing%20Per...
1663  http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...
1664  http://us.imdb.com/M/title-exact?Brother%27s%2...
1665  http://us.imdb.com/M/title-exact?Ripe%20%28199...
1666  http://us.imdb.com/M/title-exact?Next%20Step%2...
1667  http://us.imdb.com/M/title-exact?Wedding%20Bel...
1668  http://us.imdb.com/M/title-exact?MURDER+and+mu...
1669    http://us.imdb.com/M/title-exact?Tainted+(1998)
1670  http://us.imdb.com/M/title-exact?Further+Gestu...
1671     http://us.imdb.com/M/title-exact?Kika%20(1993)
1672   http://us.imdb.com/M/title-exact?Mirage%20(1995)
1673  http://us.imdb.com/M/title-exact?Mamma%20Roma%...
1674  http://us.imdb.com/M/title-exact?Sunchaser,%20...
1675  http://us.imdb.com/M/title-exact?War%20at%20Ho...
1676  http://us.imdb.com/M/title-exact?Sweet%20Nothi...
1677  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679      http://us.imdb.com/Title?Sliding+Doors+(1998)
1680  http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681  http://us.imdb.com/M/title-exact?Schrei%20aus%...

[1682 rows x 5 columns]

In [6]:
import numpy as np
import pandas as pd
#from sklearn import cross_validation as cv
import sklearn.model_selection as cv
from sklearn.metrics.pairwise import pairwise_distances

#CF预测算法
def predict(ratings, similarity, type='user'):
    #user-based CF
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #You use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis]) 
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    #item-based CF
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])     
    return pred

#算法性能评估
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

#1.读入数据集--u.data文件
header = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('ml-100k/u.data', sep='\t', names=header)
   #计算种类（不重复的用户/电影数）
n_users = df.user_id.unique().shape[0]
n_movies = df.item_id.unique().shape[0]
print('Number of users = ',str(n_users), ' | Number of movies = ' , str(n_movies)  )

#2.拆分成测试集和训练集
train_data, test_data = cv.train_test_split(df, test_size=0.25)

#3.创建两个用户/电影矩阵：一个测试数据矩阵，一个训练数据矩阵。
train_matrix = np.zeros((n_users, n_movies))
for line in train_data.itertuples():
    train_matrix[line[1]-1, line[2]-1] = line[3]  

test_matrix = np.zeros((n_users, n_movies))
for line in test_data.itertuples():
    test_matrix[line[1]-1, line[2]-1] = line[3]
    
#4.计算余弦相似性。pairwise_distances函数输出范围0~1。    
user_sim = pairwise_distances(train_matrix, metric='cosine')
movie_sim = pairwise_distances(train_matrix.T, metric='cosine')#T转置，转变计算方向

#5.CF预测
movie_predict = predict(train_matrix, movie_sim, type='item')
user_predict = predict(train_matrix, user_sim, type='user')

##6.评估
print('U-based MSE = ', str(rmse(user_predict, test_matrix)))
print('M-based MSE= ', str(rmse(movie_predict, test_matrix)))

Number of users =  943  | Number of movies =  1682
U-based MSE =  3.130839804301856
M-based MSE=  3.4575750661792646